<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" href="/stylessheets/styles.css">

</head>

<body>
<div class="home-container" wfd-id="2">
  <div class="form-wrapper" wfd-id="3">
    <form action="/artist" class="form-group home-form" wfd-id="4">
      <input placeholder="Search for an artist!" class="form-control home-input" type="text" name="artist" id="artist-input" kl_vkbd_parsed="true" wfd-id="5">
      <button class="btn btn-primary home-search" type="submit" wfd-id="6">Search for an Artist</button>
    </form>
  </div>
</div>
</body>

</html>
